<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

{{#prod}}
	<!-- ENV: PRODUCTION -->
	<link rel="stylesheet" type="text/css" href="{{cssFile}}"/>	
	<script src="{{jsFile}}" data-main="js/main" type="text/javascript"></script>	
{{/prod}}
{{^prod}}
<!-- ENV: DEVELOPMENT -->
	<script src="js/libs/mustache/mustache.js" type="text/javascript"></script>
	<script src="js/libs/jquery/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/less" href="css/app.less"/>	
	<script type="text/javascript" src="js/libs/less/less.js"></script>	
	<script data-main="js/main" src="js/libs/require/require.min.js" type="text/javascript"></script>
{{/prod}}
	<!-- Built on {{date}} -->
</head>
<body>
	<table>
		<tr>
			<td class="piece rook row-0 col-0 p2 black"></td>
			<td class="piece horse row-0 col-1 p2 white"></td>
			<td class="piece bishop row-0 col-2 p2 black"></td>
			<td class="piece queen row-0 col-3 p2 white"></td>
			<td class="piece king row-0 col-4 p2 black"></td>
			<td class="piece bishop row-0 col-5 p2 white"></td>
			<td class="piece horse row-0 col-6 p2 black"></td>
			<td class="piece rook row-0 col-7 p2 white"></td>
		</tr>
		<tr>
			<td class="piece pawn row-1 col-0 p2 white"></td>
			<td class="piece pawn row-1 col-1 p2 black"></td>
			<td class="piece pawn row-1 col-2 p2 white"></td>
			<td class="piece pawn row-1 col-3 p2 black"></td>
			<td class="piece pawn row-1 col-4 p2 white"></td>
			<td class="piece pawn row-1 col-5 p2 black"></td>
			<td class="piece pawn row-1 col-6 p2 white"></td>
			<td class="piece pawn row-1 col-7 p2 black"></td>
		</tr>
		<tr>
			<td class="row-2 col-0 black"></td>
			<td class="row-2 col-1 white"></td>
			<td class="row-2 col-2 black"></td>
			<td class="row-2 col-3 white"></td>
			<td class="row-2 col-4 black"></td>
			<td class="row-2 col-5 white"></td>
			<td class="row-2 col-6 black"></td>
			<td class="row-2 col-7 white"></td>
		</tr>
		<tr>
			<td class="row-3 col-0 white"></td>
			<td class="row-3 col-1 black"></td>
			<td class="row-3 col-2 white"></td>
			<td class="row-3 col-3 black"></td>
			<td class="row-3 col-4 white"></td>
			<td class="row-3 col-5 black"></td>
			<td class="row-3 col-6 white"></td>
			<td class="row-3 col-7 black"></td>
		</tr>
		<tr>
			<td class="row-4 col-0 black"></td>
			<td class="row-4 col-1 white"></td>
			<td class="row-4 col-2 black"></td>
			<td class="row-4 col-3 white"></td>
			<td class="row-4 col-4 black"></td>
			<td class="row-4 col-5 white"></td>
			<td class="row-4 col-6 black"></td>
			<td class="row-4 col-7 white"></td>
		</tr>
		<tr>
			<td class="row-5 col-0 white"></td>
			<td class="row-5 col-1 black"></td>
			<td class="row-5 col-2 white"></td>
			<td class="row-5 col-3 black"></td>
			<td class="row-5 col-4 white"></td>
			<td class="row-5 col-5 black"></td>
			<td class="row-5 col-6 white"></td>
			<td class="row-5 col-7 black"></td>
		</tr>
		<tr>
			<td class="piece pawn row-6 col-0 black p1"></td>
			<td class="piece pawn row-6 col-1 white p1"></td>
			<td class="piece pawn row-6 col-2 black p1"></td>
			<td class="piece pawn row-6 col-3 white p1"></td>
			<td class="piece pawn row-6 col-4 black p1"></td>
			<td class="piece pawn row-6 col-5 white p1"></td>
			<td class="piece pawn row-6 col-6 black p1"></td>
			<td class="piece pawn row-6 col-7 white p1"></td>
		</tr>
		<tr>
			<td class="piece rook row-7 col-0 white p1"></td>
			<td class="piece horse row-7 col-1 black p1"></td>
			<td class="piece bishop row-7 col-2 white p1"></td>
			<td class="piece queen row-7 col-3 black p1"></td>
			<td class="piece king row-7 col-4 white p1"></td>
			<td class="piece bishop row-7 col-5 black p1"></td>
			<td class="piece horse row-7 col-6 white p1"></td>
			<td class="piece rook row-7 col-7 black p1"></td>
		</tr>
	</table>

	<section class="promotion">
		<div class="pieces">
			<span class="selectablePiece rook"></span>
			<span class="selectablePiece horse"></span>
			<span class="selectablePiece bishop"></span>
			<span class="selectablePiece queen"></span>
		</div>
	</section>

	<main>
		<h1>ChessJS</h1>
		<h6 class="author">
			by Erik Wendel - <a href="mailto:erik.wendel@bekk.no">email</a> - <a href="https://twitter.com/ewndl">@ewndl</a>
		</h6>

		<p>This a JavaScript implementation of Chess that I made for fun. It supports castling and promotion, but en passant, multiplayer and computer-controlled players are still lacking. Work in progress!</p>

		<h4>Turn: <span class="turn p1"></span></h4>

		<button class="btn btn-default computer active">Disable computer</button>

		<h4>Game history</h4>

		<section class="history">

		</section>


	</main>


</body>
</html>
