<div class="item game-item">
	<div class="player{{#player1_winner}} winner{{/player1_winner}}">{{player1_name}}
		<div>{{player1_change}}</div>
	</div>
	<div class="score">
		{{player1_points}}-{{player2_points}}
	</div>
	<div class="player{{#player2_winner}} winner{{/player2_winner}}">{{player2_name}}
		<div>{{player2_change}}</div>
	</div>
</div>