<div class="matchday matchday-title">
	{{title}}
</div>
<div class="matchday matchday-date">
	<i class="icon-calendar"/>
	{{date}}
</div>
<div class="matchday matchday-venue">
	<i class="icon-map-marker"/>
	{{venue}}
</div>
<div class="matchday matchday-attendees">
	<i class="icon-male"/>
	{{attendance}} spillere
</div>
