<div class="addNewGameContent">
	<!-- <span class="session-info"></span> -->
	<div class="addGame"></div>
	<input class="add_player" type="text" placeholder="Spiller 1"/>
	<input class="points" type="tel" placeholder="2"/>
	<span class="separator">-</span>
	<input class="points" type="tel" placeholder="2"/>
	<input class="add_player lastInput" type="text" placeholder="Spiller 2"/>
</div>