<div class="ranking-item">
	<i class="{{icon}}"></i>
	<span class="ranking-place">
		{{rank}}
	</span>
	<span class="ranking-name">
		{{name}}
	</span>
	<span class="ranking-score">
		{{points}}
	</span>
</div>